.nav-link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: var(--active-text-color);
  border-bottom: 2px solid var(--active-text-color);
  transition: color 0.5s ease, border-bottom 0.5s;
}